<article
  <a id="about"></a>
  <h2>
    About Us
  </h2>

  <p>
    We are a Service-Disabled, Veteran-Owned Small Business (SDVOSB) based in
    Virginia Beach, VA.
  </p>

  <p>
    Our managing team consists of two US Naval Special Operations Veterans and an
    accomplished medical sales professional. We have a collective 50+ years of
    global experience and expertise in multiple areas including:
  </p>

  <ul>
    <li>Mission Planning</li>
    <li>Operations and Logistics</li>
    <li>Medical Supply Chain Management</li>
    <li>Medical and Contingency Planning</li>
    <li>Risk Mitigation</li>
    <li>Medical Training Solutions</li>
    <li>Medical Sales</li>
  </ul>
</article>
