<article
  <a name="about"></a>
  <h2>
    About Us
  </h2>

  <p>
    Selous Group LLC is a Service-Disabled Veteran Owned Small Business (SDVOSB).
  </p>

  <p>
    The group is comprised of two retired Navy Special Operations veterans and a
    highly experienced and successful medical sales professional with a combined
    50+ year history of experience.
  </p>

  <p>
    We are registered in the System for Award Management, which allows us to bid
    on government contracts directly should the need or opportunity arise. We have
    priority in the bidding process due to our SDVOSB status.
  </p>
</article>
