<article>
  <h2>
    Contact Us
  </h2>

  <form name="contact" method="POST" data-netlify="true">
    <div class="contact-form__input-wrapper">
      <label>Your Name <input type="text" name="name" /></label>
    </div>
    <div class="contact-form__input-wrapper">
      <label>Your Email <input type="email" name="email" /></label>
    </div>
    <div class="contact-form__input-wrapper">
      <label>Message <textarea name="message"></textarea></label>
    </div>
    <div class="contact-form__input-wrapper">
      <button type="submit">Send</button>
    </div>
  </form>
</article>
