<article class="contact-form">
  <h2 class="contact-form__title">
    Contact Us
  </h2>

  <p class="contact-form__description">
    Contact us to learn more about solutions we can provide for you.
  </p>

  <form name="contact" method="POST" data-netlify="true" class="contact-form__form">
    <div class="contact-form__input-wrapper">
      <label for="name" class="contact-form__label">
        Your Name
      </label>
      <input type="text" name="name" />
    </div>
    <div class="contact-form__input-wrapper">
      <label for="email" class="contact-form__label">
        Your Email
      </label>
      <input type="email" name="email" />
    </div>
    <div class="contact-form__input-wrapper">
      <label for="message" class="contact-form__label">
        Message
      </label>
      <textarea name="message" rows="6"></textarea>
    </div>
    <button type="submit" class="button contact-form__button">Send</button>
  </form>
</article>
