<article>
  <h2>
    Our Goals
  </h2>

  <p>
    To accelerate the speed of business access and growth within the Federal and
    DOD landscape to drive innovation in the federal markets.
  </p>

  <p>
    We support the Government and DOD mission sets with much needed products and
    services while also sharing best practices from the private sector.
  </p>
</article>
