<div class="header">
  <h1 class="fade-in-down">
    Selous Group
  </h1>

  <p class="header__tag-line fade-in">
    Providing solutions for today's medical challenges
  </p>

  <div class="two-columns two-columns--with-divider two-columns--mobile centered margin-top-6">
    <div
      class="two-columns__column two-columns__column--first"
      data-aos="fade"
      data-aos-duration="1000">
      <%= inline_svg(
        "us-flag.svg",
        class: "icon",
        role: "img"
      ) %>
    </div>

    <div
      class="two-columns__column"
      data-aos="fade-left"
      data-aos-duration="1500">
      <%= inline_svg(
        "osprey.svg",
        class: "icon",
        role: "img"
      ) %>
    </div>
  </div>
</div>
