<article>
  <h2 class="centered">
    Solutions
  </h2>

  <div class="solutions">
    <h3 class="solution-1-header">
      Access to a full suite of FDA, CE and NIOSH certified solutions
    </h3>

    <ul class="solution-1-body">
      <li>Every level of mask, from surgical 3-ply to N95</li>
      <li>Surgical gowns, shoe coverings, head coverings</li>
      <li>Face Shields</li>
      <li>Gloves</li>
      <li>Hand Sanitizer</li>
      <li>Temperature Monitoring</li>
      <li>Surface Disinfectants and Cleaners</li>
      <li>Air Purification systems from home to industrial capability</li>
      <li>COVID-19 Rapid Serological Testing</li>
      <li>COVID-19 PCR Testing</li>
    </ul>

    <h3 class="solution-2-header">
      Consulting services for medical and contingency planning
    </h3>

    <p class="solution-2-body">
      We have multiple agreements in place with medical distributors and
      manufacturers.
      <br />
      <br />
      We can ensure that your staff’s, volunteers’ and visitors’ needs are met which helps everyone medically and you legally.
      <br />
      <br />
      We’ll guide you through every step of the process.
    </p>
  </div>


</article>
