<article>
  <h2>
    Why Work with Us?
  </h2>

  <p>
    Our aim is to do everything in our power to deliver cost-efficient and honest
    solutions to our customers while mitigating financial risk on their behalf.
  </p>

  <p>
    We have experience navigating the fluid and risky environment in which we
    find ourselves through our work with the US government, the Department of
    Defense, and the medical industry task forces set up in response to the
    COVID-19 pandemic.
  </p>

  <p>
    We continuously pursue and foster new relationships in the medical industry to ensure that we have access to the best pricing and availability to rapidly moving stock.
  </p>
</article>
