.photo {
  background-attachment: scroll;
  background-image: url("../images/earth-night.jpg");
  background-size: cover;
  background-position: bottom;
  height: 17rem;
  width: 100%;

  @include breakpoint("small") {
    background-attachment: fixed;
    height: 40rem;
  }
}
