.photo {
  background-attachment: scroll;
  background-image: url("../images/osprey-photo.png");
  background-size: cover;
  background-position: bottom;
  height: 40rem;
  width: 100%;

  @include breakpoint("small") {
    background-attachment: fixed;
  }
}
